<%- include('../partials/header') %>

<div class="container">
<h2 class="mt-2">All Products</h2>
<hr>
    <div class="row row-cols-4">
    <% for(let i=0; i<products.length; i++) { %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p><%= products[i].name %></p>
                </div>
            </div>
        </div>
    <% } %>

    </div>
</div>